{% include static %}

<li class="nav-item">
    <a class="nav-link" data-bs-toggle="modal" data-bs-target="#modal-itemshot" href="#">
        
    </a>
</li>
<!-- Modal -->
<div class="modal fade" id="modal-itemshot" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Корзина</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><img src="img/products/apple.jpg" alt=""></td>
                            <td><a href="#">Apple cinema 30"</a></td>
                            <td>$230.00</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td><img src="img/products/apple.jpg" alt=""></td>
                            <td><a href="#">Apple cinema 30"</a></td>
                            <td>$230.00</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td><img src="img/products/apple.jpg" alt=""></td>
                            <td><a href="#">Apple cinema 30"</a></td>
                            <td>$230.00</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>